<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Insert title here</title>
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
	<header>
		<nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Logo</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
				<!--<li><a href="cadastrarMedicamento" class="waves-effect waves-light btn"><i class="material-icons right">add_box</i>Cadastrar medicamentos</a></li> -->
		        <li><a href="cadastrarMedicamento">cadastrar medicamento</a></li>
		      </ul>
		    </div>
  		</nav>
	</header>
	  
     <!-- href="cadastrarMedicamento" - neste campo vai o nome da requisição do controller - neste caso e cadastrarMedicamento  --> 
	<h4>PROJETO DE BALANÇO HIDRICO PARA UTI NEONATAL - UTI ADULTO - PEDIATRIA</h4>
	
</body>
</html>