<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Formulario de cadastro de medicamento</title>
<!--Import Google Icon Font-->
      <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="materialize/css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      
      <link rel="stylesheet" href="style/styleCss.css"/>
</head>
<body>
	
	<header>
		<nav>
		    <div class="nav-wrapper">
		      <a href="#" class="brand-logo">Logo</a>
		      <ul id="nav-mobile" class="right hide-on-med-and-down">
				<!--<li><a href="medicamentos" class="waves-effect waves-light btn"><i class="material-icons right">dehaze</i>Lista dos medicamentos</a></li> -->
		        <li><a href="medicamentos">Lista dos medicamentos</a></li>
		      </ul>
		    </div>
  		</nav>
	</header>
	
	<h1>Prescrição</h1>
	<form class="container" method="post">
	
		<div class="row">
			<div class="input-field col s6">
				Prescricao: <input type="text" value="" name="prescricao"/>
			</div>
			<div class="input-field col s6">
				Medicamento: <input type="text" value="" name="medicamento.nomeComercial"/>
			</div>
			
		</div>	
		<button class="waves-effect waves-light btn" type="submit">Prescrever</button>
	</form>
	
	<!--JavaScript at end of body for optimized loading-->
      <script type="text/javascript" src="materialize/js/materialize.min.js"></script>
</body>
</html>